# Python Virtual Environment
venv/
__pycache__/
*.pyc

# Node/React Dependencies
node_modules/
dist/
.npm/

# MacOS junk (just in case)
.DS_Store

# Ignore large binaries
*.jar

# Ignore Environment Variables
.env
*.env